{
  "logging": {
    "level": "info"
  },
  "mysql": {
    "host": "example.org",
    "user": "bob",
    "password": "secret",
    "database": "jambones",
    "connectionLimit": 10
  },
  "services": {
    "createCall": "http://feature.server/createCall:3000"
  }
}